.search-card-image {
    height: 6.25rem;
    width: 6.25rem;
}

.search-card-image img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.search-card-content {
    display: flex;
    align-self: start;
    flex-direction: column;
}

.search-card-actions {
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-card-actions .add-button, .play-button {
    cursor: pointer;
}

.search-card-actions .play-button {
    --sds-c-icon-color-foreground-default: #1a1a1a;
    border: 1px solid #1a1a1a;

}

.search-card-actions .play-button:hover {
    --sds-c-icon-color-foreground-default: #002c5a;

}

.search-card-actions .add-button {
    border: 1px solid #1a1a1a;
}

.search-card-actions .add-button:hover {
    border: 1px solid #e200e4ad;
    --sds-c-icon-color-foreground-default: #e200e4ad;
}


.search-card-wrapper {
    background-color: #f2f2f2;
}

.search-card-left-content {
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

@media screen and (max-width: 480px) {
    .search-card-left-content {
        flex-direction: column;
    } 
}