.image-preview {
    height: 10.938rem;
    width: 10.938rem;
}

.success {
    background-color: #ee00ff !important;
}

.modal-header-font-size {
    font-size: 2rem;
}

.slds-file-selector__dropzone div {
    border-color: aqua;
}

