.grid-container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 18px;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46,61,73, 0.5);
    justify-items: center;
    background-color: #002c5a;
}

.grid-container .card {
    height: 125px;
    width: 125px;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #1a1a1a;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
}

.grid-container .card .card-name {
    align-self: start;
    width: 100%;
    background: #e200e4ad;
    color: #1a1a1a;
}

.grid-container .card .card-img img {
    width: 100%;
    border-radius: 50%;
}

.play-icon {
    --sds-c-icon-color-foreground-default: white;
    cursor: pointer;
    background-color: grey;
}

.delete-icon {
    --sds-c-icon-color-foreground-default: red;
    cursor: pointer;
}
