.grid-container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46,61,73, 0.5);

    background-color: rgb(93 93 93);

}

.grid-container .card {
    height: 125px;
    width: 125px;
    margin: 0.2rem;
    /* background-color: #f03d5f; */
    /* color: #ffffff; */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* box-shadow: 4px 4px 4px 4px #A95AAA; */
    color: #A95AAA;
    
    background-color: rgba(42,43,45,255);
    border-top: 1px solid black;
    border-right: 3px solid #A95AAA;
    border-bottom: 3px solid #A95AAA;
    border-left: 1px solid black;
    border-radius: 4px;
}

.grid-container .card .card-name {
    align-self: start;
}

.grid-container .card .card-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.grid-container .card .card-img img {
    width: 100%;
    border-radius: 50%;
}

.play-icon {
    --sds-c-icon-color-foreground-default: white;
    cursor: pointer;
}

.delete-icon {
    --sds-c-icon-color-foreground-default: red;
    cursor: pointer;
}
