/* Roboto-Medium */

@font-face {
    font-family: 'Oswald';
    src: url('/resource/oswald') format('TrueType');
}

:host {
    --slds-c-card-color-background: #1a1a1a !important;
  }

.sound-outer-wrapper {
    font-family: 'Oswald', 'sans sarif' !important;
    letter-spacing: .045em;
}

.sound-outer-wrapper .slds-card {
    background-color: #1a1a1a !important;
}

.soundboard-container, .actions-container {
    max-width: 900px;
    margin: auto;
    background-color: #1a1a1a !important;
}

.search-container {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46,61,73, 0.5);
}

.create-icon {
    background-color: #e200e4ad;
    cursor: pointer;
}

.create-icon:hover {
    outline: 1px solid #f2f2f2;
}

.create-sound-button a:hover {
    color: #f2f2f2
}

.lightning-search-btn {
    --sds-c-button-text-color: #1a1a1a !important;
    --sds-c-button-neutral-color-background: #f2f2f2 !important;
    --slds-c-button-neutral-color-background-hover: #e200e4ad;
    --sds-c-button-text-color-hover: #f2f2f2;
}

.search-input {
    border: none;
}

.search-input:focus {
    outline: 2px solid #e200e4ad;
}

