/* Roboto-Medium */

@font-face {
    font-family: 'Oswald';
    src: url('/resource/oswald') format('TrueType');
}

.sound-outer-wrapper {
    background-color: #95CAFF;
    font-family: 'Oswald', 'sans sarif' !important;
    letter-spacing: .045em;
}

.soundboard-container, .actions-container {
    max-width: 900px;
    margin: auto;
    background-color: #1a1a1a;
}

.search-container {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46,61,73, 0.5);
}

.soundboard-container lightning-layout-item lightning-input label {
    border: 1px solid orange;
    display: none;
}

.create-icon {
    background-color: #e200e4ad;
    cursor: pointer;
    /* --sds-c-icon-color-foreground-default: #e200e4ad; */
}

.lightning-search-btn {
    --sds-c-button-text-color: #1a1a1a !important;
}


